@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}


.cardi {
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0;
}

.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
  margin-bottom: 20px;
	overflow: hidden;
	width: 700px;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	background-color: #2A265F;
	color: #fff;
	padding: 30px;
	max-width: 250px;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
	background-color: #2A265F;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 66%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

.textinho{
  justify-content: left !important;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}



/*Possivel merda*/

.apresent{
  padding-top: 200px;
}

div.navbar h1:hover {
    border-bottom: 3px solid green;
  }


.nopadding{
    padding: 0px;
}

a{
    text-decoration: none;
}
.bg-bed{
    background-color: #9feeee!important;
    
}
.fundo{
  background-image: url("../media/fundo4.png");
  background-size: 100%
}

.lc-item img {
	float: left;
	width: 55px;
	height: 55px;
	border-radius: 50%;
  margin-right: 24px;
  margin-left: 10px;
}


form.search{outline: none !important;}
form.search > div{outline: none !important;}
input.search__field{outline: none !important;}
button{outline: none !important;}

.text-primaria{
    color: #231a8a !important;
}
.bg-primaria{
    background-color: #231a8a !important;
}

.text-secundaria{
    color: #9feeee !important;
}
.bg-terciaria{
    background-color: rgb(221, 221, 221);
}
.border-primaria{
    border-width: 3px;
    border-color: #231a8a !important;
}

.redondo{
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 650;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
}
.text-black{
    color: #000000 !important;
}

.fontelegal{
    font-family: sans-serif ;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}



.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
    }

    #carouselExampleCaptions
    {
        width: 100%;
        width: 950px;
        margin-left: 30px;
    }

.imagemcard{
    width: 100%;
}
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .text-quarter{
    color: #575555 !important;
  }

/*
Barra de Pesquisa
*/

.search {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  .search * {
    outline: none;
    box-sizing: border-box;
  }
  .search__wrapper {
    position: relative;
  }
  .search__field {
    width: 50px;
    height: 50px;
    color: transparent;
    font-family: Lato, sans-serif;
    font-size: 1.35em;
    padding: 0.35em 50px 0.35em 0;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .search__field:focus {
    border-bottom-color: #ccc;
    width: 15vw;
    color: #2b2b2b;
    cursor: default;
  }
  .search__field:focus ~ .search__icon {
    background-color: transparent;
    cursor: pointer;
    pointer-events: auto;
  }
  .search__icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e9f1f4;
    width: 50px;
    height: 50px;
    font-size: 1.35em;
    text-align: center;
    border-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    display: inline-block;
    transition: background-color 0.2s ease-in-out;
  }
  .search__field::-webkit-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .search__field:-moz-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .search__field::-moz-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .search__field:-ms-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .search__field::-webkit-input-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
  }
  .search__field:-moz-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
  }
  .search__field::-moz-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
  }
  .search__field:-ms-input-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
  }
  
.logo{
  width: 40%;
}

.semanal{
  display: none;
}

.celularHelp{
  display: none;
}
  @media screen and (max-width: 414px){

    .textohelp{
      display: none;
    }

    .celularHelp{
      display: block;
    }

    .fundo{
      background-image: none;
      background-color: #d7e7f4;
    }

    .desktopHelp{
      display: none;
    }
    
    
    .fontelegal{
      font-size: 23px;
    }

    .logo{
      display: none;
    }

    .redondo{
      padding: 0.5rem 1.5rem;
      font-size: 0.7rem;
      font-weight: 550;
      text-transform: uppercase;
      border: none;
      border-radius: 10rem;
  }

  .sumacard{
    display: none;
  }

  .titulos{
    font-size: 30px;
  }

  .noborder{
    border: none !important;
  }

  .semanal{
    display: block;
  }
  .videos{
    display: none;
  }
  .cadastro{
    display: none;
  }
  .search__field:focus {
    border-bottom-color: #ccc;
    width: 60vw;
    color: #2b2b2b;
    cursor: default;
    justify-content: center;
  }
  
  }
  .normal15{
    display: none;
  }
  @media screen and (max-width: 812px) and (min-width: 415px){
  
    .cadastro{
      display: none;
    }

    .celularHelp{
      display: block;
    }

    .desktopHelp{
      display: none;
    }

    .noborder{
      border: none !important;
      
    }
    .normal15{
      display: block;
    }
    

    .titulodicas{
      font-size: 14px
    }
    .titulo15{
      display: none;
    }
    

    .fontelegal{
      font-size: 31px;
    }

    .textohelp{
      display: none;
    }

    .logo{
      display: none;
    }

    .ToHelp{
      padding-top: 20px;
      font-size: larger;
    }
  
    .search {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%);
    }
    .search * {
      outline: none;
      box-sizing: border-box;
    }
    .search__wrapper {
      position: relative;
    }
    .search__field {
      width: 50px;
      height: 50px;
      color: transparent;
      font-family: Lato, sans-serif;
      font-size: 1.35em;
      padding: 0.35em 50px 0.35em 0;
      border: 1px solid transparent;
      border-radius: 0;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
    .search__field:focus {
      border-bottom-color: #ccc;
      width: 60vw;
      color: #2b2b2b;
      cursor: default;
      justify-content: center;
    }
    .search__field:focus ~ .search__icon {
      background-color: transparent;
      cursor: pointer;
      pointer-events: auto;
    }
    .search__icon {
      position: absolute;
      top: 0;
      right: 0;
      background-color: #e9f1f4;
      width: 50px;
      height: 50px;
      font-size: 1.35em;
      text-align: center;
      border-color: transparent;
      border-radius: 50%;
      pointer-events: none;
      display: inline-block;
      transition: background-color 0.2s ease-in-out;
    }
    .search__field::-webkit-input-placeholder {
      position: relative;
      top: 0;
      left: 0;
      transition-property: top, color;
      transition-duration: .1s;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-perspective: 1000;
      perspective: 1000;
    }
    .search__field:-moz-placeholder {
      position: relative;
      top: 0;
      left: 0;
      transition-property: top, color;
      transition-duration: .1s;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-perspective: 1000;
      perspective: 1000;
    }
    .search__field::-moz-placeholder {
      position: relative;
      top: 0;
      left: 0;
      transition-property: top, color;
      transition-duration: .1s;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-perspective: 1000;
      perspective: 1000;
    }
    .search__field:-ms-input-placeholder {
      position: relative;
      top: 0;
      left: 0;
      transition-property: top, color;
      transition-duration: .1s;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-perspective: 1000;
      perspective: 1000;
    }
    .search__field::-webkit-input-placeholder[style*=hidden] {
      color: #83b0c1;
      font-size: .65em;
      font-weight: normal;
      top: -20px;
      opacity: 1;
      visibility: visible !important;
    }
    .search__field:-moz-placeholder[style*=hidden] {
      color: #83b0c1;
      font-size: .65em;
      font-weight: normal;
      top: -20px;
      opacity: 1;
      visibility: visible !important;
    }
    .search__field::-moz-placeholder[style*=hidden] {
      color: #83b0c1;
      font-size: .65em;
      font-weight: normal;
      top: -20px;
      opacity: 1;
      visibility: visible !important;
    }
    .search__field:-ms-input-placeholder[style*=hidden] {
      color: #83b0c1;
      font-size: .65em;
      font-weight: normal;
      top: -20px;
      opacity: 1;
      visibility: visible !important;
    }
  
  } 